<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Biblioteca Asteca</h1>

        <a class="botao" href="/adicionar_livro">+ Adicionar Livro</a>


        <table>
            <tr>
                <th>Nome</th>
                <th>Autor</th>
                <th>Ano</th>
            </tr>
            {% for livro in livros %}
            <tr>
                <td>{{ livro[1] }}</td>
                <td>{{ livro[2] }}</td>
                <td>{{ livro[3] }}</td>
                <td>
                    <a class="botao pequeno" href="/editar_livro/{{ livro[0] }}">Editar</a>
                    <a class="botao vermelho pequeno" href="/apagar_livro/{{ livro[0] }}">Apagar</a>
                   {% if livro|length > 4 and livro[4] %}
                    <a class="botao" href="/devolver_livro/{{ livro[0] }}">Devolver</a>
                {% else %}
                    <a class="botao" href="/emprestar_livro/{{ livro[0] }}">Emprestar</a>
                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    <ul class="mensagens">
      {% for msg in mensagens %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>